{% extends 'blog/base.html' %}
{% block content %}
    {% for post in posts %}

          <article>
              <header class="cabecalho-post">
                <h1 class="titulo"> <a class="link-detail" href="{% url 'post_detail' pk=post.pk %}"> {{ post.title }} </a> </h1>
                {% if user.is_authenticated %}
                  <a href="{% url 'post_edit' pk=post.pk %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                {% endif %}  
                <p class="data-pub">{{ post.published_date }}</p>
              </header>
              <p class="conteudo">{{ post.pre_text|linebreaksbr }}</p>
          </article>

    {% endfor %}
{% endblock %}
