body {
  margin: 0;

}

.site {
  margin: 5px auto;
  min-width: 350px;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s linear;

}

.titulo {
    color: black;
  text-align: left;
}

article {
  margin: 10px 10px 30px;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  padding: 0 10px;
}

.cabecalho-pagina {
  margin: 0;
  height: 120px;


  background-image: linear-gradient(to right, orange , white 80%, orange);
  background-color: orange;

  display: flex;
  align-items: center;


  transition: all 0.5s linear;


}

a {
  color:white;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background:rgba(0,0,0,0.2);
  padding:20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition:all 0.5s;
}
.toggleNav {
  display: none;
}


.cabecalho-pagina h1{
    color: white;
    margin: 0 0 0 30px;
    padding: 0;
    left: 40px;

    font-size: 48px;

    font-family: 'Pangolin', cursive;
    display: inline-block;
}

.cabecalho-post {
  background-color: white;
  display: flex;
  align-items: center;
   justify-content: space-between;

}

.titulo{
  margin: 0;
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
}

.data-pub {
  color: rgba(0,0,0, 0.5);
}
.conteudo, .data-pub {
  font-family: 'Neucha', cursive;
}
.conteudo{
  font-size: 19px;
}

@media all and  (max-width: 500px){

  .cabecalho-post h1{
    text-align: center;
    font-size: 48px;
  }
  .cabecalho-post {
    display: inline;
  }
  .cabecalho-pagina {
        flex-direction: column;
        height: auto;
  }
  .cabecalho-pagina h1{
      display: none;
  }
  .toggleNav {
    display: block;
  }

    .cabecalho-pagina h1.open {
    display:flex;
  }
}
