.cabecalho-post h1{
  text-align: center;
  font-size: 48px;
}
.cabecalho-post {
  display: inline;
}
.cabecalho-pagina {
      flex-direction: column;
      height: auto;
      width: 100vw;
}
.cabecalho-pagina h1{
    display: none;
}
.toggleNav {
  display: block;
}

  .cabecalho-pagina h1.open {
  display:flex;
}


.toggleNav {
  display: block;
}
